<!DOCTYPE html>
<html>

<head>
  <title>WILDLIFE TRACKER</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  <link rel='stylesheet' href='/app.css'>
</head>

<body>

  <div class="jumbotron">
    <nav class="navbar navbar-dark bg-default">
      <div class="container-fluid">
        <h1>WILDLIFE TRACKER</h1>
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="/">HOME</a></li>
          <li><a href="/animals/new">ADD ANIMAL</a></li>
          <li><a href="/animals">AVAILABALE ANIMALS</a></li>
          <li><a href="/sightings/new">ADD SIGHTING</a></li>
          <li><a href="/sightings">SIGHTINGS</a></li>

        </ul>
      </div>
    </nav>
  </div>
  <div class="container">
    #parse( $template )
  </div>
  <footer>

    <p>Please Help Keep Track of Wildlife.They are an important part of the ecosystem.</p>

  </footer>
</body>


</html>
