<!DOCTYPE html>
<html>

<head>
  <title>HAIR SALON</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  <link rel='stylesheet' href='/app.css'>
</head>

<body>

  <div class="jumbotron">
    <nav class="navbar navbar-dark bg-default">
      <div class="container-fluid">
        <h1>HAIR SALON</h1>
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="/">HOME</a></li>
          <li><a href="/stylists">STYLISTS</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="container">
    #parse( $template )
  </div>
  <footer>

    <p>SALON</p>

  </footer>
</body>


</html>
